PORT=10000
HOST=0.0.0.0
CORS_ORIGIN=https://TON-FRONTEND.example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=maBoutique1@
AUTH_SECRET=ma1erBoutiqueenligne
WAVE_API_KEY=
WAVE_SUCCESS_URL=https://TON-FRONTEND.example.com/payment/success
WAVE_ERROR_URL=https://TON-FRONTEND.example.com/payment/error
